<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simple-calculator-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CAAE8061E65E0BB007EAF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CAAE81A1E65E0BC007EAF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CAAE8251E65E0BC007EAF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
